header
    clearfix()
    width 100%
    padding 35px 25px 20px
    +mobile()
        padding 0 0 20px
    .logo
        display block
        width 100%
        height 77px
        background $img('savvy.png') no-repeat center
        text-indent -9999px
        margin-bottom 30px
        +mobile()
            width 175px
            height 57px
            background-size 100% auto
            float left
            margin-bottom 0
            margin-top 25px
            margin-left 5%
    #nav-desktop
        display block
        width 100%
        text-align center
        font-size 0
        +mobile()
            display none
        a
            display inline-block
            position relative
            neutra 14
            color $gold
            + a
                margin-left 35px
                +tablet()
                    margin-left 18px
            &:after
                content ''
                display none
                position absolute
                left 50%
                bottom -8px
                transform translateX(-50%)
                width 0
                height 0
                border-style solid
                border-width 8px 6px 0 6px
                border-color $gold transparent transparent transparent
            &:hover
                color #fff
            &.active
                font-weight 700
                color $gold
                &:after
                    display block
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        float right
        height 28px
        width 28px
        margin-top 35px
        margin-right 5%
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $gold
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $gold
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($mobile)
            display none !important
        display none
        position relative
        width 100%
        background $gold
        padding 20px 5%
        z-index 2
        width 100%
        > a
            display block
            text-align right
            neutra 14
            color #fff
            margin-top 12px
            &:first-child
                margin-top 0
            &.active
                color #000

.social-fixed
    position fixed
    top 220px
    left 0
    background $gold
    width 30px
    padding 8px 0
    z-index 9999
    a
        display block
        width 16px
        height 16px
        margin 0 auto
        text-indent -9999px
        &.facebook
            background $img('facebook.png') no-repeat center
        &.instagram
            background $img('instagram.png') no-repeat center
        + a
            margin-top 8px
    +mobile()
        width 28px
        padding 6px 0
        top 130px
        a + a
            margin-top 6px

.not-found
    text-align center
    padding 180px
    +tablet()
        padding 160px 0
    +mobile()
        padding 80px 0
    h1
        display inline-block
        border 1px solid $gold
        padding 14px 24px 12px
        neutra 12
        color $gold
        letter-spacing 1px
        text-transform uppercase
