body
    background $img('bg.png') repeat center 10px #000
    position relative
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 36px
        background $img('bg-top.png') repeat-x bottom center #000

a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5
