desktop-base-width     = 925px
rupture.desktop-cutoff = $tablet = 980px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$gold = #A26D39

@font-face
    font-family 'Neutra Text'
    src url('../fonts/NeutraText-Light.woff2') format('woff2'),
        url('../fonts/NeutraText-Light.woff') format('woff')
    font-weight 300
    font-style normal

@font-face
    font-family 'Neutra Text'
    src url('../fonts/NeutraText-Book.woff2') format('woff2'),
        url('../fonts/NeutraText-Book.woff') format('woff')
    font-weight 400
    font-style normal

@font-face
    font-family 'Neutra Text'
    src url('../fonts/NeutraText-Demi.woff2') format('woff2'),
        url('../fonts/NeutraText-Demi.woff') format('woff')
    font-weight 500
    font-style normal

@font-face
    font-family 'Neutra Text'
    src url('../fonts/NeutraText-Bold.woff2') format('woff2'),
        url('../fonts/NeutraText-Bold.woff') format('woff')
    font-weight 700
    font-style normal

neutra($size, $weight = normal)
    font-size $size + 0px
    font-family 'Neutra Text', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == demi
        font-weight 500
    if $weight == bold
        font-weight 700

