.botanicals-items
    max-width 445px
    margin 60px auto 0
    text-align center
    font-size 0
    +mobile()
        margin-top 35px
    h3
        display inline-block
        neutra 18 bold
        color #fff
        margin 0 0 45px
        padding 0 115px
        background $img('title-left.png') no-repeat left 5px, $img('title-right.png') no-repeat right 5px
        +mobile()
            padding 0
            background none
            text-align left
            display block
            margin-bottom 25px
            font-size 16px
    > div
        text-align left
    .item
        width 16.85%
        display inline-block
        vertical-align top
        margin-bottom 25px
        margin-right 10.87%
        &:nth-child(4n)
            margin-right 0
        +mobile()
            width calc('33.333% - 16.6667px')
            margin-right 25px
            &:nth-child(4n)
                margin-right 25px
            &:nth-child(3n)
                margin-right 0
        img
            border-radius 100%
            display block
            margin 0 auto 6px
        span
            display block
            text-align center
            neutra 11
            color #fff
