.cocktails
    margin-top 60px
    +mobile()
        margin-top 35px
    .cocktail-handle
        display block
        position relative
        padding-left 18px
        margin-bottom 24px
        neutra 17 bold
        color #fff
        transition padding .3s
        &:hover
            padding-left 22px
        &:before
            content ''
            position absolute
            left 0
            top 50%
            margin-top -2px
            width 10px
            height 2px
            background #fff
        &:after
            content ''
            position absolute
            left 4px
            top 50%
            margin-top -6px
            width 2px
            height 10px
            background #fff
            transition all .3s
        &.open
            &:after
                transform rotate(90deg)
            &:hover
                padding-left 18px
    .cocktail-conteudo
        display none
        margin -10px 0 35px
        clearfix()
        img
            width 230px
            float left
            +mobile()
                max-width 100%
                float none
                margin-bottom 10px
        .texto
            width calc('100% - 260px')
            float right
            h3
                neutra 26 bold
                color #fff
                margin 0 0 10px
            p
                neutra 20
                color #fff
                margin 0
                line-height 2
                + p
                    margin-top 10px
            +mobile()
                width 100%
                float none
                h3
                    font-size 18px
                p
                    font-size 16px
