.news
    color #fff // REMOVE
    clearfix()
    padding 0 40px 80px
    +tablet()
        padding 0 40px 40px
    +mobile()
        padding 0 5% 25px
    aside
        width 100px
        float right
        padding 35px 0 0 22px
        +mobile()
            display none
        a
            display block
            color $gold
            neutra 14
            + a
                margin-top 13px
            &:hover
                color #fff
            &.active
                color $gold
                font-weight 700
    main
        width calc('100% - 100px')
        float left
        position relative
        padding-right 24px
        &:after
            content ''
            position absolute
            right 0
            top 35px
            height calc('100% - 60px')
            width 1px
            background $gold
        +mobile()
            width 100%
            padding 0
            &:after
                display none
        article
            img
                width 100%
                display block
                margin-bottom 15px
            .data
                neutra 12
                color $gold
            h2
                neutra 20 bold
                color $gold
                margin .4em 0 .8em
            p
                neutra 18
                color #fff
                line-height 2
                margin 0
                + p
                    margin-top 1em
            +mobile()
                h2
                    font-size 18px
                p
                    font-size 16px
            + article
                border-top 1px solid $gold
                padding-top 40px
                margin-top 40px
                +mobile()
                    padding-top 25px
                    margin-top 25px
        .pagination
            border-top 1px solid $gold
            margin-top 60px
            padding 0
            padding-top 25px
            list-style-type none
            text-align center
            +mobile()
                margin-top 35px
                padding-top 20px
            li
                display inline-block
                neutra 18
                color $gold
                margin 0 5px
                +mobile()
                    font-size 16px
                &.disabled
                    opacity .5
                    cursor default
                &.active
                    border 1px solid $gold
                    padding 4px 8px
                    color #fff
                a:hover
                    color #fff
