.padrao
    .padrao-imagem
        width 100%
        display block
    .padrao-texto
        padding 60px 80px
        +tablet()
            padding 40px 6.5%
        +mobile()
            padding 25px 5%
        h2
            neutra 28 bold
            margin 1.8em 0 0
            color $gold
            &:first-child
                margin-top 0
            +tablet()
                font-size 24px
            +mobile()
                font-size 20px
        p
            neutra 22
            color #fff
            line-height 2
            margin .8em 0
            +tablet()
                font-size 18px
            +mobile()
                font-size 16px
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
        img
            max-width 100%
